    <div class="modal fade" id="modal_connexion" tabindex="-1" role="dialog" aria-labelledby="modal_connexion_Label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{{ path('app_login') }}" class="form-Connexion" method='post'>
                    <h1>Connexion</h1>

                    <div class ="Id-mdp">
                        <input type="email" name="email">
                        <span data-placeholder="email"></span>
                    </div>
                    <div class ="Id-mdp">
                        <input type="password" name="password">
                        <span data-placeholder="Mot de passe"></span>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div style="text-align: center">{% if app.session.get('message') is defined %} {{ app.session.get('message') }} {% endif %}</div>
                    <input type="submit" id="submitConnexion" class="btnConnexion" name="Membre[submit]" value="Connexion">
                    <div class="NewAccount">
{#                        <button type="button" class="btn btn-primary Create" data-toggle="modal" data-target="#modal_inscription">Créer un compte</button></br></br>#}
                        <button type="button" class="btn btn-secondary" id="Annuler" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
